.home {
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100vw;
    height: 64px;
    padding: 2px 24px;
    border-bottom: 1px solid #dcdcdc;

    &-input {
      width: 50%;
      height: 100%;
      border: 0;
      outline: 0;
      color: #000;
      font-size: 36px;
      font-weight: bold;
      line-height: 64px;
    }

    &-button {
      margin-left: 16px;
    }

    &-url {
      position: absolute;
      top: 54px;
      left: 80px;
      width: 300px;
      height: 36px;
      padding: 0 12px;
      color: #000;
      font-size: 16px;
      font-weight: bold;
      line-height: 36px;
      border: 1px solid #dcdcdc;
      border-radius: 2px;
    }
  }

  &-content {
    display: flex;
    box-sizing: border-box;
    height: calc(100vh - 64px);
    overflow: hidden;

    &-input {
      box-sizing: border-box;
      width: 50%;
      height: 100%;
      padding: 24px 24px 0;
      border: 0;
      outline: 0;
      resize: none;
      color: #000;
      font-size: 18px;
      line-height: 36px;
      border-right: 1px solid #dcdcdc;
    }

    &-input::placeholder {
      font-weight: bold;
    }

    &-content {
      box-sizing: border-box;
      width: 50%;
      height: 100%;
      padding: 24px 24px 0;
      overflow: scroll;
    }
  }
}
