.home {
  &-modal {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-block {
      display: inline-block;
      width: 300px;
      height: 300px;
    }

    &-select {
      width: 150px;
    }
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100vw;
    height: 64px;
    padding: 2px 24px;
    border-bottom: 1px solid #dcdcdc;

    &-input {
      width: 50%;
      height: 100%;
      border: 0;
      outline: 0;
      color: #000;
      font-size: 36px;
      font-weight: bold;
      line-height: 64px;
    }

    &-button {
      margin-left: 16px;
    }

    &-url {
      position: absolute;
      top: 54px;
      left: 80px;
      width: 300px;
      height: 36px;
      padding: 0 12px;
      color: #000;
      font-size: 16px;
      font-weight: bold;
      line-height: 36px;
      border: 1px solid #dcdcdc;
      border-radius: 2px;
    }
  }
}
