.home {
  &-content {
    display: flex;
    box-sizing: border-box;
    height: calc(100vh - 64px);
    overflow: hidden;

    &-input {
      box-sizing: border-box;
      width: 50%;
      height: 100%;
      padding: 24px 24px 0;
      border: 0;
      outline: 0;
      resize: none;
      color: #000;
      font-size: 18px;
      line-height: 36px;
      border-right: 1px solid #dcdcdc;
    }

    &-input::placeholder {
      font-weight: bold;
    }

    &-content {
      box-sizing: border-box;
      width: 50%;
      height: 100%;
      padding: 24px 24px 0;
      overflow: scroll;
    }
  }
}
